<h3>{{name}}</h3>

<div style="
display: flex;
grid-gap: 20px;
flex-wrap: wrap;
padding-top: 70px;
">
  <div style="display: flex;" >
          <div >
              <div class="card " style="align-items:center ; min-width: 50%;">
              <img style="height:140px; width:200px;" src="../../assets/book.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-primary">bookName</span>
                <span class="float-end price-hp">200&euro;</span>
              </div>
              <h5 class="card-title" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">lorem ipsum good and dunny data</h5>


              </div>
            </div>

         </div>
          <div >
              <div class="card " style="align-items:center ; min-width: 50%;">
              <img style="height:140px; width:200px;" src="../../assets/book.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-primary">bookName 2</span>
                <span class="float-end price-hp">300&euro;</span>
              </div>
              <h5 class="card-title" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">lorem ipsum good and dunny data</h5>


              </div>
            </div>

         </div>
         <div >
          <div class="card " style="align-items:center ; min-width: 50%;">
          <img style="height:140px; width:200px;" src="../../assets/book.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3">
            <span class="float-start badge rounded-pill bg-primary">bookName3</span>
            <span class="float-end price-hp">400&euro;</span>
          </div>
          <h5 class="card-title" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">lorem ipsum good and dunny data</h5>


          </div>
        </div>

     </div>
     <div >
      <div class="card " style="align-items:center ; min-width: 50%;">
      <img style="height:140px; width:200px;" src="../../assets/book.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-primary">bookName5</span>
        <span class="float-end price-hp">2002&euro;</span>
      </div>
      <h5 class="card-title" style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">lorem ipsum good and dunny data</h5>


      </div>
    </div>

 </div>
  </div>

</div>
