
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
data-toggle="modal" data-target="#exampleModal" *ngIf="controls == true"
(click)="addClick()"
>
  Add Category
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-category [category]= "category" *ngIf="ActivateAddEditCatComp" ></app-add-edit-category>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;">
  <div  class="owl-banner"*ngFor="let item of CategoryList">
    <div class="item">
      <img src="../../../assets/blog-post-02.jpg" alt="" [routerLink]="['/category',item.categoryId, item.name]">
      <div class="item-content">
        <div class="main-content">
          <div class="meta-category">
            <span>{{item.name}} Category</span>
          </div>
          <a><h4>Read all {{item.name}}s </h4></a>
          <ul class="post-info">
            <li><a >Admin</a></li>
            <li><a >May 12, 2020</a></li>
          </ul>
          <div *ngIf="controls == true" style="display:flex;grid-gap:10px">
            <button class="btn btn-primary"
            data-toggle="modal" data-target="#exampleModal"
            data-backdrop="static" data-keyboard="false"
            (click)="EditClick(item)">
            Edit</button>
            <button class="btn btn-dannger" (click)="deleteClikc(item)">
              Delete
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
